table{
    width: 100%;
    border-collapse: collapse;
}
p{
    margin: 0.5em 0;
    text-align: center;
    font-size: x-large;
    font-family: 华文行楷;
}
table caption{
    font-size: 2em;
    font-weight: bold;
    margin: 0.5em 0;

}
.bjimg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    object-fit: cover;

}

th,td{

    border:1px dashed #0c0808;
    text-align: center;
    padding: 5px 0px;
}

table thead tr{
    background-color: #e07f62;
    color: white;
    font-weight: bold;
}

table tbody tr:nth-child(odd){
    background-color: #aab1be;
}

table tbody tr:hover{
    background-color: #a5e39e;
    color: indianred;
}

table tbody tr td:first-child{
    color: #c50b36;
}

table tfoot tr td{
    text-align: center;
    padding-right: 20px;
}
